<a routerLink="/landing" class="back">back</a>

<div class="details-container">
  <app-card>
    <div>
      <h3>Name : {{ (currentElixir | async)!.name }}</h3>
      <h5>
        <h3>{{ (currentElixir | async)!.effect }}</h3>
      </h5>
      <h3>characteristics : {{ (currentElixir | async)!.characteristics }}</h3>
      <div class="red-bg">
        <h4>Side effects :</h4>
        <span *ngIf="(currentElixir | async)!.sideEffects; else noSideEffect">
          {{ (currentElixir | async)!.sideEffects }}
        </span>
      </div>
      <h4>time :</h4>
      <span *ngIf="(currentElixir | async)!.time; else noTime">{{
        (currentElixir | async)!.time | date
      }}</span>
    </div></app-card
  >

  <ng-template #noIngredient>
    <p>No ingredients were recorded!!</p></ng-template
  >
  <ng-template #noSideEffect> <p>No side Effect was recorded!!</p></ng-template>
  <ng-template #noTime> <p>No time was recorded!!</p></ng-template>
</div>
