<div class="">
  <div class="filter-wrapper">
    <h3>filters</h3>
    <div>
      <app-input
        cssClass="input-search"
        placeholder="search for Elixirs..."
        (valueChanged)="searchByName($event)"
      ></app-input>
    </div>
  </div>
  <div class="grid-col-4">
    <ng-container *ngFor="let elexir of elixirsList | async">
      <app-card [title]="elexir.name">
        <div>effects : {{ elexir.effect }}</div>
        <div>
          side effects
          <span *ngIf="elexir.sideEffects; else noSideEffects"
            >: {{ elexir.sideEffects }}</span
          >
        </div>
        <div>
          ingredients :

          <span *ngIf="elexir.ingredients; else noIngredients">
            <ng-container *ngFor="let ingredient of elexir.ingredients">
              {{ ingredient.name }}
            </ng-container>
          </span>
        </div>

        <a routerLink="/details/{{ elexir.id }}">more details</a>

        <ng-template #noIngredients>
          <p>No ingredients were recorded!!</p></ng-template
        >
        <ng-template #noSideEffects>
          <p>No side Effect was recorded!!</p></ng-template
        >
      </app-card>
    </ng-container>
  </div>
</div>
