/* You can add global styles to this file, and also import other style files */
.pt-m {
  padding-top: 16px;
}
.pb-m {
  padding-bottom: 16px;
}
.pl-m {
  padding-left: 16px;
}
.pr-m {
  padding-right: 16px;
}
